Repository bbugh/useful-conversions: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, yq -i -P -o json "to_entries | sort_by(.key) | .[].value |= sort_by(.funnyUnit) | from_entries"

Add script to format data
  package.json
Due: none

Add unit grouping
  src/App.vue
  src/utils.ts
Due: eslint --fix, prettier --write

Add area and mass
  src/data.json
Due: yq -i -P -o json "to_entries | sort_by(.key) | .[].value |= sort_by(.funnyUnit) | from_entries"

Also sort keys with yq
  package.json
Due: none

Add illuminance, power, speed, temperature, time
  src/data.json
Due: yq -i -P -o json "to_entries | sort_by(.key) | .[].value |= sort_by(.funnyUnit) | from_entries"

Filter units based on what is available in the data
  src/App.vue
Due: eslint --fix, prettier --write

Fix lux -> lx
  src/data.json
Due: yq -i -P -o json "to_entries | sort_by(.key) | .[].value |= sort_by(.funnyUnit) | from_entries"

Add number formatting
  src/App.vue
  src/utils.ts
Due: eslint --fix, prettier --write

Fix very small number formatting
  src/utils.ts
Due: eslint --fix, prettier --write

Design stuff
  index.html
  src/App.vue
  src/assets/base.css
  src/assets/main.css
Due: eslint --fix, prettier --write

Use real label instead of abbreviation
  src/App.vue
Due: eslint --fix, prettier --write

Reorganize code
  src/App.vue
Due: eslint --fix, prettier --write

Add LICENSE
  LICENSE
Due: none

Favicons
  index.html
  public/about.txt
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/site.webmanifest
Due: none

License update
  README.md
  package.json
Due: none

Fix mobile styles
  src/App.vue
  src/assets/main.css
Due: eslint --fix, prettier --write

Add opengraph/twitter
  index.html
  public/opengraph-75f7405679249944a5699b214f4d05e2.png
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx,vue}
  prettier --write: any of: *.{ts,tsx,vue}
  yq -i -P -o json "to_entries | sort_by(.key) | .[].value |= sort_by(.funnyUnit) | from_entries": any of: src/data.json
